*{
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: auto;
}

#backgroundColor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

button{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
